
#map {
  position: relative;
}

svg {
  background: #FFF;
  pointer-events: all;
}

.zone {
  stroke-width: .5px;
  stroke-linejoin: round;
  cursor: pointer;
}

.zoneTooltip {
  position: absolute;
  width: 30px;
  height: 30px;
  font-family: Garamond;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 30px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 12px;
  font-family: sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;  
}

.infoLabel {   
  position: absolute;
  bottom: 25px;
  left: 25px;
  display: none;
  border: solid #ccc 1px;
  color: #666;
  background: #FFFFFF;    
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 3px #66C2FF;
  -moz-box-shadow: 0px 0px 3px #66C2FF;
  box-shadow: 0px 0px 3px #66C2FF;
  text-align: left;            
  padding: 10px;      
  font-size: 12px;
  font-family: sans-serif; 
  pointer-events: none;       
}

.infoLabel span {
  margin: 0px 5px;
}

.mapData {
  fill: #E6E6E6;
  stroke: #ffffff;
  stroke-width: 1px;
}

.ortho {
  fill: #E6E6E6;
  stroke: #E6E6E6;
  stroke-width: 1px;  
}

.mapData .active {
  fill: #66C2FF;
}

.focused {
  fill: #FF7519;
}

.hidden { 
  display: none; 
}
div.tooltip {
  color: #222; 
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
}